<div class="w-screen h-screen" *ngIf="modalService.isVisible$ | async">
  <div
    class="bg-black/50 fixed top-0 right-0 left-0 bottom-0 z-1"
    (click)="modalService.close()"
  ></div>
  <form
    class="w-1/2 fixed p-6 bg-white left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-10 flex flex-col items-center"
    [formGroup]="addForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-2xl font-bold-900 mb-4">Add news</h2>
    <input
      type="text"
      placeholder="Title"
      formControlName="title"
      class="w-full border py-2 px-4 mb-4"
    />
    <input
      type="text"
      placeholder="Description"
      formControlName="description"
      class="w-full border py-2 px-4 mb-5"
    />
    <input
      type="file"
      name="myImage"
      accept="image/png, image/gif, image/jpeg"
      class="mb-2 self-start"
      formControlName="img"
      (change)="onFileChange($event)"
    />

    <input type="image" formControlName="image" />

    <!-- <div formControlName="image"></div> -->

    <button
      type="submit"
      class="py-2 px-6 text-xl bg-green-500 text-white mb-2"
    >
      Save
    </button>
  </form>
</div>
