<div class="w-screen h-screen" *ngIf="modalService.isVisible$ | async">
  <div
    class="bg-black/50 fixed top-0 right-0 left-0 bottom-0 z-1"
    (click)="modalService.close()"
  ></div>
  <form
    class="w-1/2 fixed p-6 bg-white left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-10 flex flex-col items-center"
    [formGroup]="addForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-2xl font-bold-900 mb-4">Add news</h2>
    <input
      type="text"
      placeholder="Title"
      formControlName="title"
      class="w-full border py-2 px-4 mb-4"
    />
    <input
      type="text"
      placeholder="Description"
      formControlName="description"
      class="w-full border py-2 px-4 mb-5"
    />
    <p-fileUpload
      mode="basic"
      chooseLabel="Choose Photo"
      name="demo[]"
      [auto]="true"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      [maxFileSize]="3000000"
      class="mb-4"
      (onUpload)="onFileChange($event)"
    ></p-fileUpload>

    <span *ngIf="file">File was uploaded</span>

    <button
      type="submit"
      pButton
      pRipple
      label="Save"
      class="p-button-success"
    ></button>
  </form>
</div>
